*{
    font-family: sans-serif;
}
.alert{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    margin: auto;
    margin-top: 1em;
    padding: 0.4em 0.6em;
    background: #c01818;
    border: 1px solid white; 
    width: max-content;
    font-size: 1.6em;
    font-family: sans-serif;
    color: rgb(241, 216, 216);
    border-radius: 6px;
    &.visible{
        opacity: 1;
    }
}